@model IEnumerable<ProvaRecrutamento.Models.PessoaViewModel>

@{
    ViewBag.Title = "Pessoas físicas";
}

<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>

    <section id="cadastro_conteudo">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div id="cabecalho_grid" class="row">
                        <a id="btn_cadastrar" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i>Cadastrar</a>
                        @*@Html.Action("ProvaRecrutamento.Views.CadastrarPessoa1")*@
                    </div>

                    <div class="row">
                        <table id="grid_cadastro" class="table table-bordered table-striped table-hover">
                            </br>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Sexo</th>
                                    <th>Cargo</th>
                                    <th>Estado Civil</th>
                                    <th>Endereço</th>
                                    <th>Data de nascimento</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var i in Model)
                                {
                                    <tr>
                                        <td>@i.pessoaId </td>
                                        <td>@i.nome </td>
                                        <td>@i.cpf </td>
                                        <td>@i.sexo </td>
                                        <td>@i.cargoId </td>
                                        <td>@i.estadoId </td>
                                        <td>@i.endereco. </td>
                                        <td>@i.dataNasc </td>
                                        <td>
                                            <a class="btn btn-primary btn-editar" role="button"><i class="glyphicon glyphicon-pencil"></i>Editar</a>
                                            <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i>Excluir</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div id="modal_cadastro" class="form-horizontal invisivel" role="dialog">
    <fieldset>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_Nome", "Nome:", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_nome", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_cpf", "CPF:", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_cpf", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_data", "Data de nascimento:", new { @class = "col-md-3 control-label" })
                    @{ Html.Html5DateRenderingMode = Html5DateRenderingMode.CurrentCulture; }

                    @*@Html.TextBoxFor(m => m.dataNasc, "{0:dd-MM-yyyy}", new { @class = "form-control", @type = "date" })*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_cargo", "Cargo:", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_cargo", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_estado", "Estado:", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_estado", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_sexo", "Sexo:", new { @class = "col-md-3 control-label" })
                    @Html.DropDownList("Sexo",
                    new SelectList(Enum.GetValues(typeof(ProvaRecrutamento.Models.Sexo))),
                    "Selecione o sexo",
                    new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_endereco", "Endereço:", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_endereco", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_numero", "Número:", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_numero", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_complemento", "Complemento:", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_complemento", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_bairro", "Bairro:", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_bairro", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_cidade", "Cidade:", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_cidade", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_cep", "CEP:", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_cep", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_estado", "Estado:", new { @class = "col-md-3 control-label" })
                    @Html.DropDownList("Estado",
                    new SelectList(Enum.GetValues(typeof(ProvaRecrutamento.Models.Estados))),
                    "Selecione o estado...",
                    new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="modal-footer">
                        <a id="btn_sair" class="btn btn-default" role="button" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>Sair</a>
                        <a id="btn_salvar" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-ok"></i>Salvar</a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

@section Scripts{
 <script>
    function chamar_form(dados) {
        $('txt_nome').val(dados.Nome);
        var modal_cadastro = $('#modal_cadastro');

        bootbox.dialog({
            title: 'Cadastrar pessoas físicas',
            message: modal_cadastro
        }).on('shown.bs.modal', function () {
            modal_cadastro.show(0, function () {
                $('txt_nome').focus();
            });
        }).on('hidden.bs.modal', function () {
            modal_cadastro.hide().appendTo('body');
        });
     }

     $(document).on('click', '#btn_cadastrar', function () {
         chamar_form({ id: 0, Nome: '' });

     }).on('click', '.btn-editar', function () {
         var btn = $(this);
             id = btn.closest('tr').attr('data-id'),
             url = '@Url.Action("EditarPessoa", "Pessoa")',
             param = { 'id': id };
         $.post(url, param, function (response) {
             if (response) {
                 chamar_form(response);
             }
         });

     }).on('click', '.btn-excluir', function () {
             var btn = $(this),
                 tr = btn.closest('tr'),
                 id = tr.attr('data-id'),
                 url = '@Url.Action("ExcluirPessoa", "Pessoa")',
                 param = { 'id': id };

         bootbox.confirm({
             message: "Tem certeza que deseja apagar o item?",
             buttons: {
                 confirm: {
                     label: 'Sim',
                     className: 'btn-success'
                 },
                 cancel: {
                     label: 'Não',
                     className: 'btn-danger'
                 }
             },
             callback: function (result) {
                 if (result) {
                     //alert('1');
                     $.post(url, param, function (response) {
                         if (response) {
                             tr.remove();
                         }
                     });
                 }
             }
             
         });
     });

</script>
}

